body {
    font-family: 'Arial', sans-serif;
    background-color:bisque;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://www.mundodeportivo.com/alfabeta/hero/2022/09/DC-revela-finalmente-el-nombre-real-del-Joker.jpg?width=1200&aspect_ratio=16:9);
    background: no-repeat;
    display: flex;
    align-items: center;
    background-color: #fff;
}


#quiz-container {
    border-radius:20px;
    box-shadow: 0 0 1000px rgba(228, 6, 6, 0.1);
    padding: 20px;
    text-align: center;
    border: 5px solid black;
}

h1 {
    background-color: #45a049;
    border: 5px solid black;
    border-radius: 20px 0 10px 0;
    color: #ea0c0c;
    font-size: 50px;
}

#question {
    font-size: 18px;
    margin-bottom: 20px;
    color: green;
    font-size: large;
    text-align: end;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: 5px dashed black;
    border-radius: 5px;
    background-color: #c20505;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #e0e0e0;
}

button {
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
